---
interface Props {
  imgBlanco: string;
  imgColor: string;
  titulo: string;
  descripcion: string;
  ano: string;
  empresa: string;
}

const { imgBlanco, imgColor, titulo, descripcion, ano, empresa } = Astro.props;
---

<div class="card flex justify-center items-center w-full gap-20">
  <img class="blanco w-[150px] h-[150px]" src={imgBlanco} />
  <img class="color w-[150px] h-[150px] hidden" src={imgColor} />
  <div class="flex flex-col w-[600px]">
    <p class="text-azul pb-5 font-medium text-4xl">
      {empresa}<span class="font-light text-base">{ano}</span>
    </p>
    <p class="text-xl font-bold pb-2">{titulo}</p>
    <p class="text-white/[30%] text-base">{descripcion}</p>
  </div>
</div>
