---
const { proyectos } = Astro.props;
import Icono_lista from "./iconos/Icono_lista.astro";
import Icono_herramienta from "./iconos/Icono_herramienta.astro";
interface Proyectos {
    img: string;
    empresa: string;
    ano: string;
    proyectos: {
        titulo: string;
        descripcion: string;
        tareas: string[];
        tectnologias: string[];
    }[];
}
---

<div class="w-[800px]">
    <!-- Timeline line -->
    <div
        class="absolute top-[6px] bottom-0 w-0.5 bg-gradient-to-b from-gray-600 to-transparent"
    >
    </div>

    <!-- Event items -->
    <div class="pl-4">
        <!-- Item 1 -->
        <div class="relative my-10">
            <div
                class="absolute top-[6px] -left-[21px] w-3 h-3 bg-gray-400 border-2 border-gray-400 rounded-full z-10"
            >
            </div>
            <div class="ml-10">
                <p class="mb-10">
                    <span class="font-semibold text-xl text-gray-100"
                        >{proyectos.titulo}
                    </span>
                    <br />
                    <span class="ml-2 text-xs text-gray-400"
                        >{proyectos.ano}</span
                    >
                </p>
                <!-- contenedor -->
                <div class="rounded-2xl p-10 text-sm">
                    <p class="">{proyectos.descripcion}</p>
                    <br />
                    <div class="flex items-center gap-2">
                        <Icono_lista />
                        <p class="text-sm">Tareas</p>
                    </div>

                    <div class="flex flex-col gap-2 mt-3">
                        {
                            proyectos.tareas.map((tarea: Proyectos) => (
                                <p class="text-xs text-gray-400 ">{tarea}</p>
                            ))
                        }
                    </div>
                    <br />
                    <div class="flex items-center gap-2">
                        <Icono_herramienta />
                        <p class="text-sm">Tecnologías</p>
                    </div>

                    <ul class="list-disc list-inside mt-3">
                        {
                            proyectos.tecnologias.map(
                                (tecnologias: Proyectos) => (
                                    <li class="text-xs text-gray-400 list-none ">
                                        {tecnologias}
                                    </li>
                                ),
                            )
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
