---
import CardExperience from "./Card_experience_simple.astro";
import experiencia from "../../public/mocks/experiencia.json";
---

<div class="h-24" id="idexperiencia"></div>
<section class="overflow-hidden pb-[200px]">
  <a class="flex justify-center font-bold text-6xl">
    Education & <span class="font-bold text-6xl text-rojo"
      >&nbsp Experience</span
    ></a
  >

  <div class="card flex flex-col mt-40 gap-20">
    {
      experiencia.map((exp) => {
        return (
          <CardExperience
            img={exp.imgBlanco}
            empresa={exp.empresa}
            ano={exp.ano}
            titulo={exp.titulo}
            descripcion={exp.descripcion}
          />
        );
      })
    }
  </div>
</section>
