---
import CardExperience from "./Card_experience_simple.astro";
import experiencia from "../../public/mocks/experiencia.json";
---

<div class="h-24" id="idexperiencia"></div>
<section class="pb-[200px] pt-10">
  <a class="flex justify-center font-bold text-6xl">
    Education & <span class="font-bold text-6xl text-azul"
      >&nbsp Experience</span
    ></a
  >

  <div class="cards flex flex-col pt-[175px] gap-[125px]">
    {
      experiencia.map((exp) => {
        return (
          <CardExperience
            imgBlanco={exp.imgBlanco}
            imgColor={exp.imgColor}
            empresa={exp.empresa}
            ano={exp.ano}
            titulo={exp.titulo}
            descripcion={exp.descripcion}
          />
        );
      })
    }
  </div>
</section>

<script>
  const cardsContainer = document.querySelector(".cards");

  cardsContainer!.addEventListener("mouseover", function (e) {
    const targetElement = e.target as HTMLElement;
    const cardElement = targetElement.closest(".card");

    if (cardElement) {
      cardElement.classList.remove("opacity");

      const imgBlanco = cardElement.querySelector(".blanco");
      const imgColor = cardElement.querySelector(".color");

      imgBlanco!.classList.add("hidden");
      imgColor!.classList.remove("hidden");
    }
  });

  cardsContainer!.addEventListener("mouseout", function (e) {
    const targetElement = e.target as HTMLElement;
    const cardElement = targetElement.closest(".card");

    if (cardElement) {
      cardElement.classList.remove("opacity");

      const imgBlanco = cardElement.querySelector(".blanco");
      const imgColor = cardElement.querySelector(".color");

      imgColor!.classList.add("hidden");
      imgBlanco!.classList.remove("hidden");
    }
  });
</script>
