---
import CardExperience from "./Card_experience.astro";
import CardExperienceFinal from "./Card_experience_final.astro";
import experiencia from "../../public/mocks/experiencia.json";
---

<div class="h-24" id="idexperiencia"></div>
<section class="overflow-hidden pb-[200px]">
  <a class="flex justify-center font-bold text-6xl">
    Education & <span class="font-bold text-6xl text-rojo"
      >&nbsp Experience</span
    ></a
  >

  <div class="flex flex-col mt-[100px]">
    {
      experiencia.map((exp, index) => {
        // Definir el componente a utilizar según la condición
        const CardComponent =
          index === experiencia.length - 1
            ? CardExperienceFinal
            : CardExperience;
        return (
          <CardComponent
            img={exp.img}
            empresa={exp.empresa}
            ano={exp.ano}
            titulo={exp.titulo}
            descripcion={exp.descripcion}
          />
        );
      })
    }
  </div>
</section>

<style>
  /* *{
    border: solid 1px rgba(255, 0, 0, 0.662);
} */
</style>
