---
import Contenido_proyectos from "./Contenido_proyectos.astro";
const { experiencia } = Astro.props;

interface Proyectos {
  img: string;
  empresa: string;
  ano: string;
  proyectos: {
    titulo: string;
    descripcion: string;
    tareas: string[];
    tectnologias: string[];
  }[];
}
---

<div class="card flex justify-center items-start w-full gap-20">
  <img class="blanco w-[150px] h-[150px]" src={experiencia.img} />
  <div class="flex flex-col">
    <p class="text-azul pb-5 font-medium text-4xl">
      {experiencia.empresa}<span class="font-light text-base text-gray-400"
        >{experiencia.ano}</span
      >
    </p>
    <p class="text-base text-gray-400">{experiencia.titulo}</p>

    <div>
      <div class="relative">
        {
          experiencia.proyectos.map((proyectos: Proyectos) => {
            return <Contenido_proyectos proyectos={proyectos} />;
          })
        }
      </div>
    </div>
  </div>
</div>
